$darkgreen: #00523b;
$lightgreen: #00935c;
$dark: #43464e;

.about-us-hero {
  background-image: url("./images/onas_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 80px 5% 0 5%;
  color: #fff;
  gap: 30px;

  p {
    font-size: 13px;
    max-width: 1000px;
  }
  p:nth-child(1) {
    font-size: 22px;
    font-family: sans-serif;
  }
}

@media (min-width: 1000px) {
  .about-us-hero {
    p {
      font-size: 15px;
    }
    p:nth-child(1) {
      font-size: 40px;
    }
  }
}
