$darkgreen: #00523b;
$lightgreen: #00935c;
.showcase {
  height: 95vh;
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-title {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    p {
      font-size: 24px;
      color: $lightgreen;
      width: 250px;
      font-family: sans-serif;
    }
    p:nth-child(2) {
      color: #b6a8a8;
      font-size: 14px;
    }
  }

  .swiper-container {
    height: 500px;
  }
  .slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: $darkgreen;

    p {
      color: #008862;
      font-size: 24px;
      padding-bottom: 20px;
      width: 280px;
      font-family: sans-serif;
    }
    p:nth-child(2) {
      color: #fff;
      font-size: 16px;
    }
  }
}

@media (min-width: 800px) {
  .showcase {
    height: 100vh;
    width: 100%;

    &-title {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      p {
        font-size: 30px;
        color: $lightgreen;
        width: 500px;
        font-family: sans-serif;
      }
      p:nth-child(2) {
        color: #b6a8a8;
        font-size: 14px;
      }
    }

    .swiper-container {
      height: 500px;
    }
    .slide {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-footer {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      background: $darkgreen;

      p {
        color: #008862;
        font-size: 24px;
        padding-bottom: 20px;
        width: 500px;
        font-family: sans-serif;
      }
      p:nth-child(2) {
        color: #fff;
        font-size: 16px;
      }
    }
  }
}
